<#import "../partials/main.ftlh" as main/>

<@main.renderWith title="Судьи">
    <div class="container">

        <div class="card my-3">
            <div class="card-body">
                <form class="row g-3" action="/judge/search" method="post">
                    <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
                    <div class="col-md-5">
                        <label for="surname" class="form-label"></label>
                        <input type="text" name="surname" class="form-control" id="surname" placeholder="Фамилия">
                    </div>
                    <div class="col-md-5">
                        <label for="name" class="form-label"></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Имя">
                    </div>
                    <div class="col-md-5">
                        <label for="registryNum" class="form-label"></label>
                        <input type="text" class="form-control" name="registryNum" id="registryNum" placeholder="Регистрационный номер">
                    </div>
                    <div class="col-md-5">
                        <label for="city" class="form-label"></label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="Город">
                    </div>
                    <div class="col-md-4">
                        <label for="disciplineId" class="form-label"></label>
                        <select id="disciplineId" class="form-select" name="disciplineId">
                            <option value="0" selected>Выберите дисциплину</option>
                            <#list disciplines as d>
                                <option value="${d.id}">${d.name}</option>
                            </#list>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="categoryId" class="form-label"></label>
                        <select class="form-select" name="categoryId">
                            <option value="0" selected>Выберите категорию</option>
                            <#list categories as r>
                                <option value="${r.id}">${r.name}</option>
                            </#list>
                        </select>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="table text-uppercase text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Фамлилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Дисцплина</th>
                        <th scope="col">Город</th>
                        <th scope="col">Пол</th>
                        <th scope="col">Категория</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list judges as j>
                        <#if j.isDel() == false>
                            <tr class='clickable-row' data-href='/judge/${j.id}'>
                                <th scope="row">${j.id}</th>
                                <td>${j.person.surname}</td>
                                <td>${j.person.name}</td>
                                <td>${j.discipline.name}</td>
                                <td>${j.person.city}</td>
                                <td>${j.person.gender.name}</td>
                                <td>${j.category.name}</td>
                            </tr>
                        </#if>
                    </#list>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</@main.renderWith>