<#import "../partials/main.ftlh" as main/>

<@main.renderWith title="Изменение федерации ${federation.name}">
    <div class="container">

        <div class="card my-3">
            <div class="card-body">
                <#if user?? && (user.role == "ADMIN" || (user.role == "FEDERATION" && user.email == federation.user.email))>
                    <h1>Изменить email ${federation.name}</h1>

                    <form action="/federation/${federation.id}/update-email" method="post">
                        <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
                        <div>
                            <div>
                                <label for="old-email" class="form-label fs-4">Введите старый email</label>
                                <input type="email" name="oldEmail" class="form-control" id="old-email"
                                <#if dto?? && dto.oldEmail??>value="${dto.oldEmail}"</#if>
                            </div>
                            <div>
                                <label for="oldPassword" class="form-label fs-4">Введите старый пароль</label>
                                <input type="password" name="oldPassword" class="form-control" id="oldPassword">
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="email" class="form-label fs-4">Введите новый email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                <#if dto?? && dto.email??>value="${dto.email}"</#if>>
                            </div>
                            <div>
                                <label for="password" class="form-label fs-4">Пароль</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-1" id="btn">Изменить</button>
                    </form>
                <#else>
                    <h1>У Вас нет доступа к данном действию</h1>
                </#if>
            </div>
        </div>

        <div class="error_list">
            <#if errors??>
                <#list errors as e>
                    <h2>${e.defaultMessage!'__no message__'}</h2>
                </#list>
            <#elseif emailError??>
                <h2>${emailError}</h2>
            </#if>
        </div>
    </div>
</@main.renderWith>