<#import "../partials/main.ftlh" as main/>

<@main.renderWith title="${secretary.surname} ${secretary.name}" styles=["css/athlete.css"]>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3">
                                    <h4>${secretary.surname} ${secretary.name}</h4>
                                    <#if user?? && (user.role == "ADMIN" || user.role == "SECRETARY") && user.email == secretary.user.email>
                                        <a href="/secretary/${secretary.id}/update" class="btn btn-primary">Изменить</a>
                                        <a href="/secretary/${secretary.id}/update-email" class="btn btn-primary">Изменить email</a>
                                        <a href="/secretary/${secretary.id}/update-password" class="btn btn-primary">Изменить пароль</a>
                                        <form action="/secretary/${secretary.id}" method="post">
                                            <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
                                            <button class="btn btn-danger mt-1">Удалить секретаря</button>
                                        </form>
                                    </#if>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    Email
                                </h6>
                                <span class="text-secondary">${secretary.user.email}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    Школа
                                </h6>
                                <a class="text-secondary" href="/school/${secretary.school.id}">${secretary.school.name}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</@main.renderWith>