<#import "../partials/main.ftlh" as main/>

<@main.renderWith title="Изменение школы ${school.name}">
    <div class="container">

        <div class="card my-3">
            <div class="card-body">
                <#if user?? && (user.role == "ADMIN" || (user.role == "SCHOOL" && user.email == school.user.email))>
                    <h1>Изменить пароль ${school.name}</h1>
                    <form action="/school/${school.id}/update-password" method="post">
                        <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
                        <#--email, пароль-->
                        <div>
                            <div>
                                <input type="email" name="email" value='${school.user.email}' class="form-control" id="email" disabled>
                            </div>
                            <div>
                                <label for="old_password" class="form-label fs-4">Введите старый пароль</label>
                                <input type="password" name="oldPassword" class="form-control" id="old_password">
                            </div>
                            <div>
                                <label for="password" class="form-label fs-4">Введите новый пароль</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-1" id="btn">Изменить</button>
                    </form>
                <#else>
                    <h1>У Вас нет доступа к данном действию</h1>
                </#if>
            </div>
        </div>

        <div class="error_list">
            <#if errors??>
                <#list errors as e>
                    <h2>${e.defaultMessage!'__no message__'}</h2>
                </#list>
            </#if>
        </div>
    </div>
</@main.renderWith>